Source: hamonikr-backgrounds-jin
Section: gnome
Priority: optional
Maintainer: Kevin Kim <chaeya@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 4.1.4
Homepage: https://hamonikr.org

Package: hamonikr-backgrounds-jin
Architecture: all
Depends:
Replaces: hamonikr-backgrounds, hamonikr-artwork
Description: HamoniKR background extra resources.
 하모니카 사용자를 위한 추가 배경화면 입니다.
